body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:14px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u7 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:242px;
  top:220px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:52px;
  top:272px;
  width:518px;
  height:108px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:108px;
}
#u15 {
  position:absolute;
  left:2px;
  top:46px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:296px;
  width:121px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:337px;
  width:216px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:500px;
  top:306px;
  width:24px;
  height:24px;
  font-size:20px;
  color:#0033FF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:521px;
  top:272px;
  width:1px;
  height:16px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:521px;
  top:272px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:52px;
  top:400px;
  width:518px;
  height:108px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:108px;
}
#u27 {
  position:absolute;
  left:2px;
  top:46px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:424px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:80px;
  top:465px;
  width:216px;
  height:24px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:500px;
  top:434px;
  width:30px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:52px;
  top:532px;
  width:518px;
  height:108px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:108px;
}
#u35 {
  position:absolute;
  left:2px;
  top:46px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:80px;
  top:556px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:80px;
  top:597px;
  width:216px;
  height:24px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:500px;
  top:566px;
  width:24px;
  height:24px;
  font-size:20px;
  color:#0033FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:670px;
  top:120px;
  width:440px;
  height:200px;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:200px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
