body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:14px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u7 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:242px;
  top:220px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:39px;
  top:272px;
  width:546px;
  height:90px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:44px;
  top:287px;
  width:430px;
  height:60px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:65px;
  top:295px;
  width:387px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:45px;
}
#u19 {
  position:absolute;
  left:0px;
  top:10px;
  width:387px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:509px;
  top:292px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
